AgenticWorkflow/
.env
AgenticWorkers/QueryAnalyst/.env
AgenticWorkers/WebCrawl/.enving
Server/.env
Platform/Server/.env
Platform/IGRS-portal/.env
Platform/Server/node_modules/
Platform/IGRS-portal/node_modules/
API/node_modules/

